.container{
  margin: auto;
  padding: 10px;
}

.header{
  background-image: url(banner.jpg);
  height: 622px;
  text-align: center;
  background-size: cover;
  padding: 10px;
}

.videos_grid{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.video{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.videos_title{
  font-size:25px;
  text-decoration:underline;
  padding:10px;
}
.content{
  font-size:15px;
  padding:10px;
}